table,
tr,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 4px;
  text-align: center;
  font-size: 20px;
  color: white;
}

table {
  margin-top: 20px;
}

th {
  background-color: var(--blue-3);
  color: white;
}

td {
  background-color: var(--orange-1);
  font-weight: 500;
}

td img{
  width: 80%;
  height: 80%;
  margin: 0 auto;
}

td a {
  color: white;
}

#text-layout{
  font-weight: 700;
  font-style: normal;
  color: var(--orange-1);
}

#img-paleta-de-cores{
  width: 60%;
  height: 60%;
  margin: 0 auto;
  border: 3px solid var(--blue-3);
  margin-top: 15px;
}