/*
  Este arquivo contém apenas coisas muito básicas
*/

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main,
.content {
  width: 90%;
  margin: 0 auto;
}

article {
  margin: 0;
  padding: 0;
}
